#jogo {    
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 10px solid black;
    width: 400px;
    border-radius: 7px;  
    background-color: black;
    padding: 5px;
    z-index: -20;
    font-family: 'Courier New', Courier, monospace; 
}

#bg img {    
    height: 100%;
    width: 100%;
    position: relative;   
    z-index: -10; 
    border-radius: 7px;     
}

#racoon {
    position: absolute;    
    width: 110px;
    height: 100px;
    bottom : -2px;
    right: 2px; 
    z-index:1000;
       
}



.fruta {
    position: absolute;
    top: 100px;
    left: 500px;
}

#uva1 img,
#uva2 img,
#uva3 img,
#uva4 img,
#uva5 img,
#uva6 img {    
    width: 30px;
    height: 30px;
    
    position: absolute;    
}

#uva1 img {
    top: 5px;
    left: 25px;
}

#uva2 img {
    bottom: 20px;
    left: 5px;
}

#uva3 img {
    top: 5px;
    right: 95px;
}

#uva4 img {
    bottom: 150px;
    right: 70px;
}

#uva5 img {
    top: 72px;
    left: 150px;
}


#score {
    color: white;
    position: absolute;
    top: 10px;
    right: 11px;
    z-index: -1;
    font-size: 0.8em;
    font-weight: bold;  
}

.rotate {
    transform: scaleX(-1);
}
